[core]
	editor = \"E:\\Sublime Text Build 3211 x64\\sublime_text.exe\" -w
[user]
	email = julian07027@gmail.com
	name = Eren
[diff]
	tool = bcomp
[difftool "bcomp"]
	cmd = \"E:\\Beyond Compare 4\\BCompare.exe\" \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = bcomp
[mergetool]
	prompt = false
[mergetool "bcomp"]
	cmd = \"E:\\Beyond Compare 4\\BCompare.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
