[core]
	editor = "/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl" -w
[user]
	email = julian07027@gmail.com
	name = Eren
[diff]
	tool = tkdiff
[difftool "tkdiff"]
	cmd = /usr/local/bin/tkdiff $LOCAL $REMOTE
[difftool]
	prompt = false
[merge]
	tool = tkdiff
[mergetool]
	prompt = false
[mergetool "tkdiff"]
	cmd = /usr/local/bin/tkdiff $LOCAL $REMOTE $BASE $MERGED
